.page-logo {

  max-width: 200px;

}

#must_haves {

	background: url('./images/must_haves.jpg') no-repeat;
	background-size: cover;
	height: 500px;

}

#must_haves_heading {

	position: relative;
	top: 80%;
	color: #ffffff;
	text-align: center;

}

#inspirations {

	background: url('./images/inspirations.jpg') no-repeat;
	background-size: cover;
	height: 500px;

}

#inspirations_heading {
	
	position: relative;
	top: 70%;
	color: #ffffff;

}