apipkg==1.4
appdirs==1.4.1
astroid==1.4.9
bandit==1.4.0
block-disposable-email==1.0.1
cffi==1.9.1
contextlib2==0.5.4
coverage==4.3.4
cryptography==1.7.2
Django==1.10.5
django-disposable-email-checker==1.2.1
django-extensions==1.7.6
django-rest-knox==2.3.0
django-rest-logger==1.0.2
djangorestframework==3.5.4
docopt==0.6.2
dodgy==0.1.9
execnet==1.4.1
factory-boy==2.8.1
Faker==0.7.7
gitdb2==2.0.0
GitPython==2.1.1
gunicorn==19.6.0
idna==2.2
isort==4.2.5
jedi==0.10.0
lazy-object-proxy==1.2.2
mccabe==0.6.1
mock==2.0.0
packaging==16.8
pbr==1.10.0
pep8-naming==0.4.1
prompt-toolkit==1.0.13
prospector==0.12.4
psycopg2==2.6.2
ptpython==0.36
py==1.4.32
pyasn1==0.2.2
pycodestyle==2.0.0
pycparser==2.17
pydocstyle==1.0.0
pyflakes==1.5.0
Pygments==2.2.0
pylint==1.6.5
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.2
pylint-flask==0.5
pylint-plugin-utils==0.2.4
pyOpenSSL==16.2.0
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
pytest-django==3.1.2
pytest-pythonpath==0.7.1
pytest-xdist==1.15.0
python-dateutil==2.6.0
PyYAML==3.12
raven==6.0.0
requirements-detector==0.5.2
setoptconf==0.2.0
six==1.10.0
smmap2==2.0.1
stevedore==1.20.0
wcwidth==0.1.7
whitenoise==3.3.0
wrapt==1.10.8
