.btn-addToBag {
	border-radius: 0px !important;
	color: #ffffff;
	background-color: #A89EC5;
	border: 1px solid #A89EC5 !important;
}

.btn-addToBag:hover {
	border-radius: 0px !important;
	color: #ffffff;
	background-color: #A89EC5;
	border: 1px solid #A89EC5 !important;
}